# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameGuruChallenge.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\GameGuruChallenge\.idea\.idea.GameGuruChallenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
